**/.git
**.vagrant
*.log
**.DS_Store
*.zip
**.terraform
**.tfstate**
**.backup
**.rli
**.hclic
**.lock**
dbt/jaffle_shop
ansible/ansible-venv
ansible/galaxy/roles
sonarqube/logs**
sonarqube/data/es6**
sonarqube/data/sonar.lock.db
jenkins/jenkins_home/**
**packer_cache*
packer/packer/windows/output**
packer/packer/windows/ansible/connection_plugins/__pycache__**
**.box
**.iso
**__pycache__
**.out
**kubectl
