---
version: "3.8"
services:
  hashiqube:
    image: ghcr.io/star3am/hashiqube:latest
    privileged: true
    tty: true
    cgroup: host
    tmpfs:
    - /var/lib/dockerdir:mode=0777,dev,size=15g,suid,exec
    - /run
    ports:
      - "3000:3000" # grafana
      - "9090:9090" # prometheus
      - "9093:9093" # prometheus-alertmanager
      - "8200:8200" # vault
      - "8201:8201" # vault
      - "4646:4646" # nomad
      - "4647:4647" # nomad
      - "4648:4648" # nomad
      - "38080:38080" # nomad-traefik
      - "38081:38081" # nomad-traefik-admin
      - "19702:19702" # waypoint-kubernetes-minikube
      - "19701:19701" # waypoint-api-kubernetes-minikube
      - "9702:9702" # waypoint-nomad
      - "9701:9701" # waypoint-api-nomad
      - "19200:19200" # boundary
      - "8500:8500" # consul
      - "8501:8501" # consul
      - "8502:8502" # consul
      - "8300:8300" # consul
      - "8301:8301" # consul
      - "8302:8302" # consul
      - "8600:8600" # consul dns
      - "9200:9200" # elasticsearch
      - "5601:5601" # kibana
      - "5602:5602" # cerebro
      - "8888:8888" # ansible/roles/www
      - "8889:8889" # docker/apache2
      - "5001:5001" # docker registry on minikube
      - "5002:5002" # docker registry on docker daemon
      - "389:33389" # ldap
      - "4566:4566" # localstack
      - "8088:8088" # jenkins
      - "9002:9002" # consul counter-dashboard
      - "9001:9001" # consul counter-api
      - "9022:9022" # consul counter-dashboard-test
      - "9011:9011" # consul counter-api-test
      - "3306:3306" # mysql
      - "5432:5432" # postgres
      - "1433:1433" # mssql
      - "9998:9998" # fabio-dashboard
      - "9999:9999" # fabiolb
      - "9333:9333" # portainer
      - "10888:10888" # minikube dashboard
      - "11888:11888" # helm dashboard
      - "18080:18080" # minikube-traefik
      - "18181:18181" # minikube-traefik-admin
      - "31506:31506" # tech-challange-minikube
      - "18888:18888" # hello minikube application
      - "18889:18889" # apache airflow
      - "3333:3333" # docsify
      - "8043:8043" # ansible-tower
      - "5580:5580" # gitlab
      - "8181:8181" # gitlab-workhorse gitlab-api
      - "32022:32022" # gitlab-shell
      - "7777:7777" # vscode-server
      - "28080:28080" # dbt docs serve
      - "8000:8000" # markdown-quiz-generator
      - "3001:3001" # uptime-kuma
      - "6001:6001" # trex
      - "18043:18043" # argocd
    # Build the container from the Dockerfile for development purposes
    # build:
    #   context: .
    #   dockerfile: ./Dockerfile
    network_mode: "bridge"
    volumes:
      # Mounts the project folder into the container
      - ".:/vagrant"
      # Mount your ~/.ssh folder into the container
      # for Authenticating to Github
      - "~/.ssh:/home/ubuntu/.ssh"
      # For GPG Auth to Github
      - "~/.gnupg:/home/ubuntu/.gnupg"
      # Add your .aws or .azure or .kube directories here
      # - "$AZURE_CONFIG_DIR:/home/ubuntu/.azure"
      - "/sys/fs/cgroup:/sys/fs/cgroup:rw"
    working_dir: "/vagrant"
    environment:
      - ARCH
      - ARM_CLIENT_ID
      - ARM_CLIENT_SECRET
      - ARM_SUBSCRIPTION_ID
      - ARM_TENANT_ID
      - ARM_PARTNER_ID
      - AWS_ACCESS_KEY_ID
      - AWS_SECRET_ACCESS_KEY
      - AWS_REGION
      - AWS_SESSION_TOKEN
      - GOOGLE_CREDENTIALS
      - TF_LOG
      - TGENV_AUTO_INSTALL=true
      - GPG_TTY=/dev/pts/1
